* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 30%;
    margin: auto;
    text-align: center;
    padding-top: 10%;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.cancel{
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: crimson;
}
form {
    margin-top: 10px;
}
h3,h4,h5 {
    font-size: 25px;
}
p{
    font-size: 18px;
}
.succesfull{
    display: none;
    transition: 0.5s all linear;
}
.unsuccesfull{
    display: none;
    transition: 0.5s all linear;
}


.yordamchi {
        animation: 1s ease-in-out infinite alternate swingViewport;
    }

@keyframes swingViewport {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(20vw - 50%));
    }
}